@charset "UTF-8";


* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	color: #303030;
}

body {
	background-color: #2A3F6A;
	margin: 0px;
}

button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: #303030;
}
a:link {
	text-decoration: none;
	color: #303030;
}
a:visited {
	text-decoration: none;
	color: #303030;
}
a:hover {
	text-decoration: none;
	color: #303030;
}

#wrapper {
	max-width: 1100px;
	min-height: 100vh;
	margin: 0px auto;
	padding: 60px 60px 100px 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(245, 245, 245);
	box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}

div#logo {
	width: 200px;
	height: 150px;
	border: 1px solid black;
	
}

div#space {
	height: 50px;
}

div.button {
	width: 370px;
	height: 370px;
	background: #F1747C;	
	border-radius: 30px;
	margin: 50px;
	
}

div#buttons {
	
	display: flex;
	justfy-content: center;
	align-items: center;
}

div.button {
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	}

div.text {
	color: white;
	font-weight: bold;
	font-size: 24px;
	
	padding: 20px;
}

div.arrow-wrap {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
	background-color: rgba(255,255,255,0.8);
	
}

div.arrow-text {
	font-size: 20px;
	
	
}

div.arrow {
	width: 70px;
	height: 70px;
	border: 1px solid black;
	border-radius: 25px;
}

div#page-title {
	width: 100%;
	font-size: 36px;
	font-weight: bold;
	margin: 40px 0px;
	padding-left: 20px;
}

div#page-content {
	width: 100%;
	min-height: 50vh;
}

.normal-button {
	width: 100px;
	height: 36px;
	border: none;
	border-radius: 18px;
	background-color: white;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	transform: scale(1);
	transition: 0.1s;
}

.accent-button {
	background-color: #FB6544;
	color: white;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

.normal-button:active {
	filter: brightness(90%);
	transition: 0.1s;
	transform: scale(0.95);
}
div.inner-box {
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	padding: 15px;
}

div.inner-box-button-wrap {
	display: flex;
	justify-content: flex-end;
}

div.inner-box-content {
	width: 100%;	
}