<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mapper.boardMapper">
	
	<select id="list" parameterType="map" resultType="articlesVO">
		select 
			* 
		from 
			articles
		where 
			bidx=#{bIdx}
		<if test="searchtitle != ''">
		and title like '%'||#{searchtitle}||'%' 
		</if>
		order by aidx desc
	</select>
	
	<insert id="insertArticles" parameterType="articlesVO">
		insert into articles(
			
			bidx
			,title
			,content
			,midx
			,mnickname
		) values(
			
			#{bIdx}
			,#{title}
			,#{content}
			,#{mIdx}
			,#{mNickname}
		)	
	</insert>
	
	<select id="infoOne" parameterType="int" resultType="serviceInfoVO">
		select idx
			,title
			,content
			from service_info
			where idx=#{idx}
		</select>
	
	<update id="infoModify" parameterType="serviceInfoVO">
		update service_info set content = #{content} where idx=#{idx}
	</update> 
	
	<select id="selectArticles" parameterType="ArticlesVO" resultType="ArticlesVO">
		select * from articles
		where aidx=#{aIdx} and bidx=#{bIdx}
	</select>
	
	<update id="readCount" parameterType="ArticlesVO">
		update articles set readcount= readcount+1 where aidx=#{aIdx} and bidx=#{bIdx}
	</update>
	
	<update id="serlistModify" parameterType="articlesVO">
		update articles	set title=#{title},content=#{content}
		where aidx=#{aIdx}
		and bidx=#{bIdx}
	</update>
	
	<delete id="serlistDelete" parameterType="articlesVO">
		delete from articles where aidx=#{aIdx} and bidx=#{bIdx}
	</delete>
	
	<update id="boardUpdate" parameterType="ArticlesVO">
		update articles	set title=#{title},content=#{content}
		where aidx=#{aIdx}
		and bidx=#{bIdx}
	</update>
	
	<insert id="likedAtricles" parameterType="LikedArticlesVO">
		insert into liked_articles(
			aIdx,
			bIdx,
			mIdx
		)values(
			#{aIdx},
			#{bIdx},
			#{mIdx}
		)
	</insert>
	
	<delete id="unLikedArticles" parameterType="LikedArticlesVO">
		delete from liked_articles where aidx=#{aIdx} and midx=#{mIdx}
	</delete>
	
	<select id="likedStatus" parameterType="LikedArticlesVO" resultType="int">
		select count(*) from liked_articles
		where aidx = #{aIdx} and midx = #{mIdx}
	</select>
	
	<select id="likeCount" parameterType="LikedArticlesVO" resultType="int">
		select count(*) from liked_articles
		where aidx = #{aIdx}
	</select>
	
	<select id="jlistArticle" parameterType="map" resultType="articlesVO">
			select * from
			(SELECT
		<![CDATA[
			  @rownum:=@rownum+1 as rownum, 
			  art.*
			FROM articles art,(select @rownum:=0) rn_art
		]]>
			where bIdx=3
			<if test='searchtitle != null and !"".equals(searchtitle)'>
			and title like CONCAT('%',#{searchtitle},'%')
			</if>
			<if test="status != 0 and status != null">
			and status=#{status}
			</if>
			order by aidx desc) list
		<![CDATA[
			where rownum>=#{start} and rownum <=#{end}
			]]>
	</select>
	
	<select id="jlistArticleCount" parameterType="Map" resultType="int">
		select count(aIdx)
		from articles
		where bidx=3
		<if test='searchtitle != null and !"".equals(searchtitle)'>
		and title like CONCAT('%',#{searchtitle},'%')
		</if>
		<if test="status != 0 and status != null">
		and status=#{status}
		</if>
	</select>
</mapper>