<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mapper.teamsMapper">

	<insert id="register" parameterType="teamsVO" useGeneratedKeys="true" keyProperty="teamIdx">
		INSERT INTO teams(
			 midx
			,mnickname
			,addr1
			,addr2
			,teamlevel
			,type
			,genre
			,title
			,content
			,regdate
			,status
			,enddate
		)VALUES(
			 #{mIdx}
			,#{mNickname}
			,#{addr1}
			,#{addr2}
			,#{teamLevel}
			,#{type}
			,#{genre}
			,#{title}
			,#{content}
			,now()
			,0
			,#{endDate}
		)
	</insert>
	
	<insert id="insertPart" parameterType="java.util.List">
		INSERT INTO parts(
				 teamidx
				,name
				,capacity
			)VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(
				 #{item.teamIdx}
				,#{item.name}
				,#{item.capacity}
			)
		</foreach>
	</insert>
	
	<select id="selectList" resultType="teamsVO">
		SELECT
			 teamidx
			,addr1
			,addr2
			,teamlevel
			,type
			,genre
			,title
			,enddate
		  FROM teams
		 WHERE status=0
		 ORDER BY teamidx DESC
	</select>
	
	<select id="selectParts" resultType="partsVO" parameterType="int">
		SELECT name, capacity
		  FROM parts
		 WHERE teamidx = #{teamIdx}
	</select>
	
	<select id="details" resultType="teamsVO" parameterType="int">
		SELECT
			 teamidx
			,mnickname
			,addr1
			,addr2
			,teamlevel
			,type
			,genre
			,title
			,content
			,regdate
			,enddate
		  FROM teams
		 WHERE teamidx = #{teamIdx}
	
	</select>
</mapper>