<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.project.vo.ApplicationsVO" alias="applicationsVO"/>
		<typeAlias type="com.project.vo.ArticlesVO" alias="articlesVO"/>
		<typeAlias type="com.project.vo.BoardsVO" alias="boardsVO"/>
		<typeAlias type="com.project.vo.CommentRepliesVO" alias="commentRepliesVO"/>
		<typeAlias type="com.project.vo.CommentsVO" alias="commentsVO"/>
		<typeAlias type="com.project.vo.EmailRegVO" alias="emailRegVO"/>
		<typeAlias type="com.project.vo.GeneralMembersVO" alias="generalMembersVO"/>
		<typeAlias type="com.project.vo.HostMembersVO" alias="hostMembersVO"/>
		<typeAlias type="com.project.vo.LikedArticlesVO" alias="likedArticlesVO"/>
		<typeAlias type="com.project.vo.LikedSpacesVO" alias="likedSpacesVO"/>
		<typeAlias type="com.project.vo.LocationsVO" alias="locationsVO"/>
		<typeAlias type="com.project.vo.MessagesVO" alias="messagesVO"/>
		<typeAlias type="com.project.vo.PartsVO" alias="partsVO"/>
		<typeAlias type="com.project.vo.PointsVO" alias="pointsVO"/>
		<typeAlias type="com.project.vo.ReportsVO" alias="reportsVO"/>
		<typeAlias type="com.project.vo.ReservationsVO" alias="reservationsVO"/>
		<typeAlias type="com.project.vo.ServiceInfoVO" alias="serviceInfoVO"/>
		<typeAlias type="com.project.vo.SpacePicturesVO" alias="spacePicturesVO"/>
		<typeAlias type="com.project.vo.SpaceQnaVO" alias="spaceQnaVO"/>
		<typeAlias type="com.project.vo.SpaceReviewVO" alias="spaceReviewVO"/>
		<typeAlias type="com.project.vo.SpacesVO" alias="spacesVO"/>
		<typeAlias type="com.project.vo.TeamsVO" alias="teamsVO"/>
		<typeAlias type="com.project.vo.TelRegVO" alias="telRegVO"/>
		
	</typeAliases>
</configuration>