@charset "UTF-8";


	#page-content {
		max-width: 900px;
	}

	.big-title {
		font-size: 28px;
		font-weight: bold;
	}
	.big-title:not(.big-title:first-child) {
		margin-top: 60px;
	}
	
	.inner-box.current-rsv {
		background-color: #2A3F6A;
		margin-top: 30px;
		position: relative;
		z-index: 8;
	}
	.inner-box.current-rsv:hover {
		outline: 3px solid #fb6544;
		cursor: pointer;
	}
	
	.inner-box.current-rsv > .inner-box-content {
		display: flex;
	}
	
	.space-thumb {
		width: 160px;
		height: 120px;
		border-radius: 10px;
		overflow: hidden;
		margin-right: 20px;
	}
	.space-thumb img {
		width: 100%;
	}
	
	.space-name {
		font-size: 24px;
		font-weight: bold;
	}
	
	.rsv-date {
		font-size: 18px;
	}
	
	.rsv-info {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.space-address-wrap {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.map-button {
		width: 80px;
		margin-left: 20px;
		position: relative;
		z-index: 9;
	}
	
	#mapBackOveray {
		width: 100%; 
		height: 100vh; 
		display: flex; 
		visibility: hidden;
		justify-content: center; 
		align-items: center; 
		background-color: rgba(0,0,0,0.5); 
		position: fixed; 
		top: 0px; 
		left: 0px; 
		z-index: 99999;
	}
	
	#mapBackground {
		width: 100%;
		height: 100%;
		position: absolute;
	}
	
	#map {
		width: 80%;
		height: 80vh;
		padding: 50px;
		z-index: 999999;
		border-radius: 15px;
		overflow: hidden;
	}
	
	.map-popup {
		width: 150px;
		text-align: center;
		padding: 6px; 
		font-size: 14px;
	}
	.map-popup:hover {
		cursor: pointer;
	}
	.filters-wrap {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: 20px;
	}
	.filters-wrap select {
		width: fit-content;
		padding: 0px 15px;
		width: 150px;
	}
	.dateInput {
		margin-left: 10px;
		width: 250px;
		text-align: center;
		border: 1px solid lightgray;
		height: 40px;
		border-radius: 20px;
		box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	}
	.dateInput-button {
		margin-left: 10px;
	}
	
	.search-form {
		display: flex;
		align-items: center;
	}
	
	.form-select:focus {
		box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
		outline: none;
	}
	
	.past-rsv-box {
		margin-top: 20px;
		padding: 0px 15px !important;
	}
	
	.past-rsv-wrap {
		padding: 15px 0px;	
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid lightgray;
	}
	
	.past-rsv-name {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 5px;
	}
	
	.past-rsv-info-items {
		display: inline-flex;
	}
	.small-title {
		font-size: 14px;
		font-weight: bold;
	}
	.small-content {
		font-size: 14px;
		margin-left: 5px;
	}
	#page-nav {
		border-top: 1px solid lightgray;
		width: 100%;
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.page-nav-button {
		width: 40px;
		height: 40px;
		border-radius: 20px;
		margin: 7.5px;
		box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.page-nav-button:not(.current-page) {
		cursor: pointer;
	}
	.page-nav-button.current-page {
		background-color: #2A3F6A;
		font-weight: bold;
	}
	.cancelled {
		font-size: 14px;
		font-weight: bold;
		color: #fb6544;
		margin-right: 10px;
	}